.MuiFormControl-root {
  gap: 2rem;
}

.form-login-register {
  margin-top: 3rem;
}

/* .MuiPaper-root{
  text-align: center;
  width: 20rem;
  margin-left: auto; 
  margin-right: 1.5rem;
  margin-top: 5rem;
  padding: 0.5rem;
  cursor: none;
  background-color: transparent;
  }  */