.zoom-buttons {
  display: flex;
  gap: 0.1rem;
  margin: 0 5%;
  justify-content: flex-end;
}

.zoom-buttons button {
  background-color: #fff6f3;
  color: #1976d2;
  border: 2px solid #0012a9;
  border-radius: 5px;
  width: 40px;
  height: 30px;
  margin-left: 0.2rem;
}

.map-title {
  display: flex;
}

.map-content-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem 0;
  margin-top: 4rem;
  border-radius: 0.5rem;
}