.nav-links {
  display: flex;
  gap: 1rem;
  margin-right: 2.5rem;
}

.nav-links>a {
  color: white;
  text-decoration: none;
}

.MuiToolbar-root {
  gap: 2rem;
}

a.menu-links {
  color: #0012a9;
  text-decoration: none;
  font-weight: bold;
}

a.menu-links:hover {
  color: #dd1f19;
}

.title {
  cursor: auto;
}