.tube-line-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 300px));
  gap: 1rem;
  justify-content: center;
}

.tube-line-container button {
  text-transform: unset;
  background: #fff;
  border-radius: 0.5rem;
  transition: all 0.2s;
  width: 100%;
}

.tube-line-container button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 5px #00000020;
  background: #fff;
}


.journey-lines-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: aliceblue;
  border-radius: 5px;
}

.journey {
  padding: 2rem;
  background-color: rgb(255 255 255 / 90%);
  border-radius: 0.5rem;
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  align-content: center;
  gap: 1rem
}