/* Login and Register */
.form {
  padding: '5rem';
  display: 'flex';
}

.MuiPaper-root{
text-align: center;
width: 20rem;
margin-left: auto; 
margin-right: 2rem;
margin-top: 5rem;
padding: 2rem;
} 

.MuiTabs-root{
  text-align: center;
}

/* .form-logo {
  height: 40vw;
  pointer-events: none;
} */

.nav-links {
  display: flex;
  gap: 1rem;
  margin-right: 2.5rem;
}

.nav-links>a {
  color: white;
  text-decoration: none;
}